{% load static %}
{% include "base.html" %}

{% block bodyblock %}
    <div align="center">
        <h1 class="m-5">Hello World!</h1>
        <label for="room-list">Select Room Type</label><br>
        <select name="room-list" id="room-list">
            <option value="public">Public</option>
            <option value="private">Private</option>
            <option value="beta">Beta</option>
        </select>
        {% comment %} {% if request.user.is_admin %} {% endcomment %}
        <button class="btn btn-danger" id="close-btn" style="display: none;">Close</button>
        {% comment %} {% endif %} {% endcomment %}
        
        <h2>Messages</h2>
        <div id="scrollable-message" style="height:300px; width= 100px; overflow: scroll; list-style-type: none;">
            <ol id="messages">
            </ol>
        </div>

        <form id="txt-form" class="m-5">
            {% csrf_token %}
            <small>Only first 50 characters will be taken as input</small><br>
            <input class="form-control" style="width: 300px;" type="text" name="message" id="mess" placeholder="Enter a sentence" autofocus>
            <br>
            <input class="btn btn-primary" type="submit" value="Send">
        </form>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <p class="text-center">Made with ❤️ by <a href="https://abdullahalrafi.com" target="_blank">Abdullah Al Rafi</a></p>
            </div>
            <div class="col-12">
                <p class="text-center"><a href="https://github.com/alrafiabdullah/redis-pubsub" target="_blank">GitHub</a></p>
            </div>
        </div>
    </div>

    <script src={% static 'index.js' %}></script>
{% endblock bodyblock %}