<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Redis PubSub Test by Abdullah Al Rafi, Python & JavaScript developer, Analyst (Data Science) at bKash LTD.">
    <meta name="keywords" content="Redis, PubSub, Test, Abdullah Al Rafi, Python, JavaScript, developer, Analyst, Data Science, bKash, LTD.">
    <meta name="author" content="Abdullah Al Rafi">
    <meta name="robots" content="index, follow">
    <link rel="shortcut icon" href="https://www.drupal.org/files/styles/grid-3-2x/public/project-images/redis-logo.png" type="image/x-icon">
    <title>Redis PubSub Test</title>
</head>
<body>
    {% block bodyblock %}{% endblock bodyblock %}
</body>
</html>